.login-form {
  @apply bg-white w-[300px] mx-auto rounded relative;
}

.login-form--content {
  @apply p-4 bg-white relative border-secondary border flex flex-col justify-items-center;
}

.login-form--back {
  @apply absolute inset-0 bg-secondary transform rotate-6;
}

.login-form--logo {
  @apply mt-4 h-[100px] my-4 w-full;
  background: url("/assets/logo.png") no-repeat;
  background-size: contain;
  background-position: center;
}

.login-form--password-field {
  @apply flex flex-row justify-between relative;
}

.login-form--password-visibility-toggle svg {
  @apply absolute right-1 bottom-1;
  color: #949494;
}
